.contacts__container {
  padding-top: 67px;
  padding-bottom: 72px;
}

.delivery__breadcrumb {
  margin-bottom: 32px;
}

.contacts__info {
  padding: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__info::before {
  width: 99%;
}

.contacts__info::after {
  width: 98%;
}

.contacts__data {
  max-width: 435px;
}

.contacts__data hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #e0e0e0;
}

.contacts__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 143.19%;
  color: #353535;
  margin-bottom: 28px;
}

.contacts__phone-dark {
  color: #444444;
  padding-bottom: 24px;
}
.contacts__white {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 24px;
}

.contacts__entity-pd {
  padding-top: 20px;
}

.contacts__white .contacts__adress-text,
.contacts__white .contacts__mail-text {
  color: #3d3d3d;
}

.contacts__form {
  max-width: 300px;
  justify-self: flex-end;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  margin-right: 55px;
}

.contacts__form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 143.19%;
  color: #353535;
  margin-bottom: 8px;
}

.contacts__form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3e3e3e;
  margin-bottom: 20px;
}

.contacts__form-input {
  padding: 22px 34px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #898989;
  box-sizing: border-box;
  border-radius: 39px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #3e3e3e;
  transition: 0.2s;
}

.contacts__form-input:focus {
  border: 1px solid #784e96;
  box-shadow: 0px 0px 7px #8672c34a;
}

.contacts__form-input::placeholder {
  font-size: 13px;
  line-height: 15px;
  color: #b9b9b9;
}

.contacts__form-button {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  padding: 20px;
  margin-bottom: 22px;
}

.contacts__form-note {
  font-size: 12px;
  line-height: 14px;
  color: #cccccc;
  margin-left: 30px;
}
