.header__info {
  background-color: #251c41;
}

.header__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__info-container a:active {
  outline: none;
  text-decoration: none;
}

.header__logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.header__logo-name {
  position: relative;
}

.header__logo-description {
  position: relative;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding-left: 10px;
}

.header__logo-description::before {
  content: "|";
  position: absolute;
  left: 0;
  top: -1px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.header__info-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header__info-menu li:not(:last-child) {
  padding: 0 15px;
}

.header__info-menu li:last-child {
  padding-left: 15px;
}

.header__info-link {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-decoration: none;
}
