.catalog__container {
  padding-top: 60px;
  padding-bottom: 106px;
}

.catalog-grid {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: max-content;
  gap: 30px;
  align-items: flex-start;
}

.catalog__filter {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.1);
  border-radius: 9.5px;
  /* padding: 25px 15px; */
  margin-bottom: 36px;
}

.catalog__filter-title {
  padding: 21px 21px 26px 24px;
}

.catalog-grid__right-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.catalog-grid__head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 3;
}

.catalog-grid__header-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-grid__header-select {
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 10px 15px 10px 20px;
  cursor: pointer;
}

.catalog-grid__header-select select {
  font-size: 16px;
  line-height: 19px;
  color: #8b75c8;
  border: none;
  cursor: inherit;
}

.catalog__filter-block {
  padding: 32px 20px 22px 24px;
  position: relative;
}

.catalog__filter-subtitle {
  margin-bottom: 20px;
}

.catalog__btn-block {
  padding: 0 15px 50px 24px;
}

.catalog__btn-reset {
  width: 100%;
  margin: 0 auto;
}
