.card__product {
  max-width: 270px;
  background: #ffffff;
  gap: 20px;
  padding: 17px 12px 25px;
}

.card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__top-buttons {
  display: flex;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
