.interface__more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 78px;
  padding-right: 38px;
  max-width: 268px;
  /* width: 100%; */
  min-height: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  background: url("../../../img/moreModels.jpg") no-repeat;
}
