.test {
  background: linear-gradient(0deg, #8b75c8, #8b75c8);
}

.test__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.test__leftcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 558px;
}

.test__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 52px;
}

.test__title span {
  font-weight: bold;
}

.test__content {
  max-width: 412px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 52px;
}

.test__content span {
  font-weight: 900;
  color: #adff00;
}

.test__rightcol {
  position: relative;
  width: 100%;
  min-height: 551px;
  padding-left: 130px;
}

.test__rightcol-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  filter: drop-shadow(-35px 0px 60px rgba(0, 0, 0, 0.13));
}

.test__rightcol::before {
  content: "5 best models";
  position: absolute;
  left: 60px;
  top: 110px;
  max-width: 250px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: right;
  text-transform: uppercase;
  color: #8d78c8;
  transform: rotate(-90deg);
}

.test__rightcol-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 457px;
  height: 457px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: -1;
}
