.interface__container-s {
  padding-top: 37px;
  padding-bottom: 44px;
}

.interface__content-s {
  margin-bottom: 17px;
  text-align: center;
}

.interface__sort-s {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  column-gap: 11px;
  row-gap: 8px;
  margin-bottom: 12px;
}

.interface__items-s {
  margin-bottom: 18px;
}
