@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.container-l {
  max-width: 1172px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.container-s {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #3a3a3a;
}

h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  color: #8b75c8;
}

h3 {
  font-weight: 300;
  font-size: 44px;
  line-height: 52px;
  color: #535353;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 143.19%;
  color: #353535;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #e0e0e0;
}
