.header__nav {
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__catalog {
  position: relative;
  min-width: 270px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.header__catalog::before,
.header__catalog::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e7e7e7;
}

.header__catalog::before {
  left: 0;
}

.header__catalog::after {
  right: 0;
}

.header__catalog-button {
  margin-right: 30px;
}

.header__catalog-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #474747;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-item {
  margin: 0 17px;
}

.header__menu-link {
  position: relative;
  padding: 11px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #404040;
}

.header__menu-link.active {
  color: #97d513;
}

.header__menu-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #97d513;
  border-radius: 10px;
}

.header__login {
  position: relative;
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  cursor: pointer;
}

.header__login::before,
.header__login::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e7e7e7;
}

.header__login::before {
  left: 0;
}

.header__login::after {
  right: 0;
}

.header__login-image {
  margin-right: 10px;
}

.header__login-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #353535;
}
