.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-title__button {
  cursor: pointer;
}

.filter-title__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 143.19%;
  color: #353535;
}

.filter-title__name-s {
  font-weight: 500;
  font-size: 18px;
  line-height: 143.19%;
  color: #353535;
}
